.line {
    text-decoration: line-through;
}

.colorRed {
    color: tomato;
    width: 250px;
}

.usually {
    color: black;
    width: 250px;
}

.main{
    margin: 2px;
    display: flex;
    height: 35px;
}